<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://code.createjs.com/easeljs-0.8.2.min.js"></script>
    <script src="https://code.createjs.com/tweenjs-0.6.2.min.js"></script>
    <script src="/javascripts/ForestAnimation.js"></script>
    <script src="/javascripts/MtnsAnimation.js"></script>
    <script type='text/javascript' src='/javascripts/app.js'></script>
  </head>
  <body onload="init();">
    {{{body}}}
  </body>
</html>
